.app-header {
    background-color: $clr3;
    border-bottom: 1px solid $clr4;
    .container {
        height: 80px;
    }
    .logo {
        border: 1px solid $clr1;
        width: 100px;
        height: 40px;
        cursor: pointer;
    }
    nav {
        .menu-icon {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            width: 400px;
            li {
                display: inline-block;
                background-color: $clr2;
                width: 70px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width: 377px) {
        border-bottom: none;
        background-color: $clr2;
        .container {
            height: 65px;
        }
        nav {
            ul {
                display: none;
            }
            .menu-icon {
                cursor: pointer;
                display: block;
                font-size: 26px;
                color: $clr3;
            }
        }
    }
}
