.hero {
    background-color: $clr2;
    border-bottom: 1px solid $clr4;
    .container {
        height: 250px;
    }
    h1 {
        height: 40px;
        width: 650px;
        background-color: $clr1;
        margin-bottom: 16px;
    }
    p {
        height: 100px;
        width: 600px;
        background-color: $clr1;
    }
    @media screen and (max-width: 377px) {
        .container {
            height: 100px;
        }
        h1 {
            width: 257px;
            height: 52px;
            margin: 0 auto 10px;
        }
        p {
            width: 124px;
            height: 14px;
            align-self: flex-end;
        }
    }
}
