.page-filter {
    height: 50px;
    background-color: $clr1;
    border-bottom: 1px solid $clr4;
    padding: 0 50px;
    margin-bottom: 30px;
    .opts {
        width: 650px;
        button {
            height: 25px;
            width: 45px;
        }
    }
    a {
        width: 70px;
        height: 10px;
        background-color: $clr3;
    }
    @media screen and (max-width: 377px) {
        padding: 0;
        overflow: hidden;
        .opts {
            button {
                margin: 0 10px;
            }
        }
    }
}
